.card {
  background-color: var(--secondaryBackground);
  border-radius: 8px;
  border: 1px solid var(--stroke);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.title {
  color: var(--accentColor);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.36px;
  margin-bottom: 20px;
}

.text_block {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.label {
  color: var(--headTypeColor);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.24px;
  opacity: 0.5;
}

.value {
  color: var(--headTypeColor);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.24px;
}

@media screen and (min-width: 599px) {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
