.card {
  background-color: var(--secondaryBackground);
  border-radius: 8px;
  border: 1px solid var(--stroke);
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: var(--headTypeColor);
}

.text {
  font-size: 18px;
  font-weight: 400;
  color: var(--typeColor);
}
